    *{
        padding:0;
        margin:0;
    }
  .FoodsList{
    margin-bottom:20px;
  }
  .FoodsList h1{
    text-align:center;
  }

  .sign{
    height:330px;
    padding:10px;
    h1{color:#A58681;font-size:36px;font-weight:bold;}
    img{width:100%;height:260px;}
    background:#fff;
  }

.activity{
    
  }
.popular{
    i.glyphicon {top:4px;}
  }
 .drink{

  }
